<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="/css/styles.css" /> -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar', {page: '/404'}) %>
    <div class="container mx-auto">
      <div id="hero" class="my-20 py-20 px-10 bg-base-100 text-center">
        <h1 class="text-8xl my-4">404: Page not available!!!!</h1>
      </div>
      <!--<button class="btn btn-primary">Button</button>-->
    </div>
  </body>
</html>
