<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ABOUT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="/css/styles.css" /> -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
   <!--
    <div
      class="w-[150px] h-[80px] shadow-2xl bg-white rounded-lg flex justify-center items-center"
    ></div> -->
    <!--

    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
      </div>

      <div class="dropdown hidden">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Themes</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=supp">Supplemental</a></li>
                <li><a href="/lego/sets?theme=tech">Technic</a></li>
                <li><a href="/lego/sets?theme=creato">Creator</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
      <!-- RESPONSIVE VERSION ABOVE: https://webprogrammingtoolsandframeworks.sdds.ca/UI-Toolkits/tailwind-css-daisyui-->
      <div class="navbar-center hidden sm:flex"></div>
      
        <ul class="menu menu-horizontal px-1">
          <li><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Themes</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=supp">Supplemental</a></li>
                <li><a href="/lego/sets?theme=tech">Technic</a></li>
                <li><a href="/lego/sets?theme=creato">Creator</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
    <div class="container mx-auto">
      <div id= "hero" class="my-20 py-20 px-10 bg-base-100 text-center">
        <h1 class="text-8xl my-4">About Me, Myself and I...</h1>
       
    <div class="container mx-auto">
      <div id= "cardGrid" class="my-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8">
        <div class="p-4 bg-white shadow-lg rounded-lg">
          <img src="https://i.natgeofe.com/k/ad9b542e-c4a0-4d0b-9147-da17121b4c98/MOmeow1_square.png" alt="cat" />

        </div>
        <div class="p-4 bg-white shadow-lg rounded-lg">
          <p class="text-base-600">My name is Cesca (Sesk-kah). I'm studying CPA at Seneca College. This is my assignment 3. I like cats and makeup.</p>
         
        </div>
    </div>
    <!--<button class="btn btn-primary">Button</button>-->