<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="/css/styles.css" /> -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container mx-auto">
      <div id="hero" class="my-20 py-20 px-10 bg-base-100 text-center">
        <h1 class="text-8xl my-4"></h1>

        <div class="container mx-auto">
          <div
            id="cardGrid"
            class="my-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8"
          >
            <div class="p-4 bg-white shadow-lg rounded-lg">
              <img
                src="https://i.natgeofe.com/k/ad9b542e-c4a0-4d0b-9147-da17121b4c98/MOmeow1_square.png"
                alt="cat"
              />
            </div>
            <div class="p-4 bg-white shadow-lg rounded-lg">
              <p class="text-base-600"></p>
            </div>
          </div>
          <!--<button class="btn btn-primary">Button</button>-->
        </div>
      </div>
    </div>
  </body>
</html>
